@use '../../index' as *;

.advantages-section {
  &__info-block {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &__bann {
      position: relative;

      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            height: auto;
            border-radius: 2.5rem;
            overflow: hidden;

            img {
              @include image_settings(cover);
            }
          }
        }
      }

      .button {
        &.prev,
        &.next {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
          cursor: pointer;
          width: 4.5rem;
          height: 4.5rem;
          @include mobile{
            top: auto;
            bottom: 1.5rem;
            transform:none ;
          }

          &.swiper-button-disabled {
            opacity: 0.5;
          }
        }

        &.prev {
          left: -2.25rem;
          @include mobile{
            left: 1.75rem;
          }
        }

        &.next {
          right: -2.25rem;
          @include mobile{
            right: 1.75rem;
          }
        }
      }
    }

    &__additional {
      &::-webkit-scrollbar{
        display: none;
      }
      grid-column: span 5;
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      gap: 1.75rem;
      overflow-x: auto;
      @include mobile{
        display: flex;
        text-wrap: nowrap;
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        background: white;
        min-width: 26.58rem;
        height: 15.5rem;
        padding: 1.75rem;
        border-radius: 1rem;
        gap: 1rem;
        &:nth-child(5) {
          background: $bg-accent;
        }
      }

      &__head {
        font-size: 1.75rem;
      }

      &__description {
        font-size: 1.25rem;
        max-width: 15rem;
        color: $text-primary-transparent-60;
        @include mobile{
          max-width: 16rem;
          height: 100%;
          text-wrap: wrap;
        }
      }

      img {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 12rem;
        max-height: 12rem;
      }
    }
  }
}
