@use '../../index' as *;

.banner{
  &__wrapper{
    margin: 0 auto;
    background: url("/images/Promo_Loyality.png");
    background-size: contain;
    height: 19.75rem;
    width: calc(100% - 20rem);
    display: flex;
    justify-content: space-between;
    padding: 0 10rem 0 10rem;
    align-items: center;
    &__PageTwo{
      background: url("/images/Promo_Loyality_Page2.png");
      background-size: contain;
    }
    @include mobile{
      min-width: calc(100% - 1rem);
      margin: 0 0.5rem;
      height: fit-content;
      box-sizing: border-box;
      padding: 2rem;
      gap: 12.5rem;
      flex-direction: column;
      background: url("/images/Promo_Loyality_Mobile.png") no-repeat;
      background-size: cover;
      border-radius: 1.5rem;
      &__PageTwo{
        background: url("/images/Promo_Loyality_Page2_Mobile.png") no-repeat;;
        background-size: cover;
      }
    }
  }
  &__text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;

  }
  &__text-first{
    font-size: 3.5rem;
    &__PageTwo{
      color: $text-inverse;
    }
    @include mobile{
      font-size: 2.5rem;
    }
  }
  &__text-last{
    font-size: 1.7rem;
    max-width: 38.1rem;
    &__PageTwo{
      color: $text-inverse;
    }
    @include mobile{
      font-size: 1.5rem;
    }
  }

  &__button{
    background: $bg-primary;
    border-radius: 1rem;
    padding: 1.75rem 2.5rem;
    border: 0;
    cursor: pointer;
    transition-duration: 0.5s;
    &:hover{
      opacity: 0.8;
    }
    @include mobile{
      width: 100%;
    }
  }
}