@use '../../index' as *;

.footer-section {
  display: flex;
  justify-content: space-between;
  background-color: $bg-primary;
  padding: 5rem;
  max-width: 143.5rem;
  margin: 0 auto;
  border-radius: 1.5rem 1.5rem 0 0;
  box-sizing: border-box;

  @include mobile{
    flex-direction: column;
    padding: 1.25rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    &__mailing {
      display: flex;
      flex-direction: column;
      margin-bottom: 5rem;

      &__titel {
        color: $bg-inverse;
        @include heading_3;
      }
      &__description {
        color: $bg-inverse-transparent-60;
        margin-bottom: 2.5rem;
        margin-top: 1rem;
        @include text_2;
      }
    }
    &__sochial {
      display: flex;
      gap: 2.5rem;
      align-items: center;
      max-width: 39.1667rem;
      max-height: 15rem;
      border: 1px solid $border-primary-transparent-15;
      margin-bottom: 2.5rem;
      border-radius: 1rem;

      @include mobile{
        flex-direction: column;
        padding: 2rem;
        max-height: fit-content;
        height: 100%;
        gap: 2rem;
      }
      &__button{
        display: none;
        width: 100%;

        @include mobile{
          display: block;
        }
      }
      img {
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;
        margin-left: 2.5rem;
        max-width: 10rem;
        max-height: 10rem;
        @include mobile{
          display: none;
        }
      }
      &__information {
        display: flex;
        flex-direction: column;
        max-width: 21.6667rem;
        max-height: 8.5rem;
        margin-right: 2.5rem;
        &__heading {
          margin: 0;
          color: $bg-inverse;
          @include button_1;
        }
        &__description {
          margin: 0.5rem 0 0;
          color: $text-primary-transparent-60;
          @include text_3;
        }
      }
    }
    &__links {
      display: flex;
      gap: 1.25rem;
      width: 11.5rem;
      height: 3rem;
      &__image-wrapper{
        background-color: $bg-inverse-transparent-6;
        border-radius: 0.5rem;
      }

      img {
        height: 3rem;
        width: 3rem;
      }
    }
  }
  &__wrapper__right {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 80rem;
    width: 100%;
    justify-content: space-between;
    &__top {
      display: flex;

      @include mobile{
        flex-direction: column;
      }
      &__categories {
        display: flex;
        flex-direction: column;
        &__market {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          gap: 1.25rem;
          cursor: pointer;

          @include mobile{
            padding-left: 0;
            margin-top: 3rem;
          }
          &__heading {
            color: $bg-inverse;
            text-wrap: nowrap;
            @include button_2;
          }
          &__others {
            color: $text-primary-transparent-60;
            text-wrap: nowrap;
            @include text_2;
          }
        }
      }
    }
    &__down {
      margin-top: 18.8333rem;
      display: flex;
      gap: 18.9167rem;

      @include mobile{
        margin-top: 3rem;
        gap: 1.2rem;
      }

      @include mobile{
        flex-direction: column;
      }
      &__rules {
        display: flex;
        gap: 1.5rem;
        align-items: end;

        p {
          margin-bottom: 0;
          color: $text-primary-transparent-60;
          @include text_3;
        }
      }
      &__developed {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-wrap: nowrap;

        p {
          margin-bottom: 0;
          color: $text-primary-transparent-30;

          @include text_3;
          @include mobile{
            margin-top: 0;
          }
        }
      }
    }
  }
}
