@use '../../index' as *;

.products-home-section{
    &__info-block{
        grid-column: span  5;
        @include grid(5, 1.75rem);
        @include mobile{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            @include grid(2, 1.75rem);
            gap: 1.25rem ;
        }
    }
}