<section>
	<div class="banner__wrapper banner__wrapper__PageTwo">
		<div class="banner__text-wrapper">
			<span class="banner__text-first banner__text-first__PageTwo">Одежда для спорта</span>
			<span class="banner__text-last banner__text-last__PageTwo">В каталоге спортивных товаров на Мегахенд.Маркете</span>
		</div>
		<button class="banner__button">Подробнее</button>
	</div>
</section>