<section>
	<div class="banner__wrapper">
		<div class="banner__text-wrapper">
			<span class="banner__text-first">Бонусная программа</span>
			<span class="banner__text-last">Совершай покупки с еще большей выгодой, используя клиентскую
            карту</span>
		</div>
		<button class="banner__button">Подробнее</button>
	</div>
</section>