<footer>
	<div class="footer-section">
		<div class="footer-section__wrapper">
			<div class="footer-section__wrapper__mailing">
				<span class="footer-section__wrapper__mailing__titel">Подпишись на рассылку</span>
				<span class="footer-section__wrapper__mailing__description">И узнавай первым о новых скидках и акциях.</span>
				<div class="footer-section__wrapper__mailing__input">
					<div class="input input_type_button">
						<input type="text" placeholder="example@gmail.com">
						<button class="button button_size_icon_small button_style_ghost-subdued">
							<a href="https://vk.com/audio"><img src="/images/a-right.svg" alt=""></a>
						</button>
					</div>
				</div>
			</div>
			<div class="footer-section__wrapper__sochial">
				<img src="/images/qr.svg" alt="">
				<div class="footer-section__wrapper__sochial__information">
					<p class="footer-section__wrapper__sochial__information__heading">Скачивай наше приложение</p>
					<p class="footer-section__wrapper__sochial__information__description">И используй бонусную программу по
						полной!</p>
				</div>
				<button
					class="button button_size_basic button_style_accent footer-section__wrapper__sochial__button">Скачать
				</button>
			</div>
			<div class="footer-section__wrapper__links">
				<div class="footer-section__wrapper__links__image-wrapper">
					<img src="/images/vk.png" alt="">
				</div>
				<div class="footer-section__wrapper__links__image-wrapper">
					<img src="/images/tg.png" alt="">
				</div>
				<div class="footer-section__wrapper__links__image-wrapper">
					<img src="/images/yt.png" alt="">
				</div>
			</div>
		</div>
		<div class="footer-section__wrapper__right">
			<div class="footer-section__wrapper__right__top">
				<div class="footer-section__wrapper__right__top__categories">
					<ul class="footer-section__wrapper__right__top__categories__market">
						<li class="footer-section__wrapper__right__top__categories__market__heading">Магазин</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Каталог</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Женщинам</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Мужчинам</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Детям</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Бренды</li>
					</ul>
				</div>
				<div class="footer-section__wrapper__right__top__categories">
					<ul class="footer-section__wrapper__right__top__categories__market">
						<li class="footer-section__wrapper__right__top__categories__market__heading">О компании</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">О нас</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Отзывы</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Блог</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Вакансии</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Магазины</li>
					</ul>
				</div>
				<div class="footer-section__wrapper__right__top__categories">
					<ul class="footer-section__wrapper__right__top__categories__market">
						<li class="footer-section__wrapper__right__top__categories__market__heading">Сотрудничество</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Оптовикам</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Арендодателям</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Реклама</li>
					</ul>
				</div>
				<div class="footer-section__wrapper__right__top__categories">
					<ul class="footer-section__wrapper__right__top__categories__market">
						<li class="footer-section__wrapper__right__top__categories__market__heading">Помощь</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Доставка и оплата</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Условия возврата</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Вопрос-ответ</li>
					</ul>
				</div>
				<div class="footer-section__wrapper__right__top__categories">
					<ul class="footer-section__wrapper__right__top__categories__market">
						<li class="footer-section__wrapper__right__top__categories__market__heading">Бонусы</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Календарь скидок</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Бонусная программа</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Получить 300 ₽</li>
						<li class="footer-section__wrapper__right__top__categories__market__others">Акции</li>
					</ul>
				</div>
			</div>
			<div class="footer-section__wrapper__right__down">
				<div class="footer-section__wrapper__right__down__rules">
					<p>Условия пользования</p>
					<p>Политика конфиденциальности</p>
				</div>
				<div class="footer-section__wrapper__right__down__developed">
					<p>Разработано Студией Сайтов</p>
					<p>©️ Мегахенд 2024. Все права защищены. </p>
				</div>
			</div>
		</div>
	</div>
</footer>