<header>
	<div class="header-section">
		<div class="header-section__container">
			<div class="header-section__info-block">
				<div class="header-section__info-block__item main">
					<div class="header-section__info-block__item__item header-section__info-block__item__burger-logo">
						<div
							class="header-section__info-block__item__burger-logo__burger button button_size_icon button_style_outline">
							<span></span><span></span><span></span>
						</div>
						<a href="/" class="header-section__info-block__item__burger-logo__logo">
							<picture>
								<source srcset="/images/logo-mobile.svg" media="(max-width: 768px)">
								<img src="/images/logo.svg" alt="">
							</picture>
						</a>
					</div>
					<div class="header-section__info-block__item__item header-section__info-block__item__search">
						<div class="input input_type_search input_state_static">
							<input type="text">
						</div>
					</div>
					<a class="button button_size_icon button_style_outline search-mobile" href="#"><img
						src="/images/search.svg" alt=""></a>
					<div class="header-section__info-block__item__item header-section__info-block__item__add">
						<a href="" class="header-section__info-block__item__add__link">
							<img src="/images/lk.png" alt="">
						</a>
						<a href="" class="header-section__info-block__item__add__link">
							<img src="/images/favourites.svg" alt="">
						</a>
						<a href="" class="header-section__info-block__item__add__link">
							<img src="/images/cart.svg" alt="">
						</a>
					</div>
				</div>
				<div class="header-section__info-block__item">
					<ul class="header-section__info-block__item__item header-section__info-block__item__other">
						<li><a href=""><img src="/images/location.svg" alt=""><span>Москва</span></a></li>
						<li><a href=""><span>Календарь скидок</span></a></li>
						<li><a href=""><span>Магазины</span></a></li>
					</ul>
					<ul class="header-section__info-block__item__item header-section__info-block__item__categories">
						<li><a href=""><span>Женщинам</span></a></li>
						<li><a href=""><span>Мужчинам</span></a></li>
						<li><a href=""><span>Детям</span></a></li>
						<li><a href=""><span>Для дома</span></a></li>
						<li><a href=""><span>Высокое качество</span></a></li>
					</ul>
					<ul class="header-section__info-block__item__item header-section__info-block__item__bonuses">
						<li><a href=""><span>Бонусная программа</span></a></li>
						<li><a href=""><span>Получить 300 ₽</span></a></li>
					</ul>
				</div>
			</div>
			<div class="burger-block">
				<div class="burder-block__burger">
					<div class="burger-block__burger__links">
						<ul>
							<li><a href="#">О компании</a></li>
							<li><a href="#">Сотрудничество</a></li>
							<li><a href="#">Отзывы</a></li>
							<li><a href="#">Блог</a></li>
							<li><a href="#">Вакансии</a></li>
							<li><a href="#">Акции</a></li>
							<li><a href="#">Бренды</a></li>
						</ul>
						<ul class="burger-block__burger__links__help">
							<li><a href="#">Помощь</a></li>
						</ul>
					</div>
					<div class="burger-block__burger__contact-us">
						<div class="burger-block__burger__contact-us__phone-socials">
							<div class="burger-block__burger__contact-us__phone-socials__phone">
								<a href="tel:88002506168">8(800) 250-61-68</a>
							</div>
							<div class="burger-block__burger__contact-us__phone-socials__socials">
								<a href="#" class="button button_size_icon-small button_style_gray"><img src="/images/vk.png"
								                                                                         alt=""></a>
								<a href="#" class="button button_size_icon-small button_style_gray"><img src="/images/tg.png"
								                                                                         alt=""></a>
								<a href="#" class="button button_size_icon-small button_style_gray"><img src="/images/yt.png"
								                                                                         alt=""></a>
							</div>
						</div>
						<div class="burger-block__burger__contact-us__politics">
							<a href="#" class="burger-block__burger__contact-us__politics__link">Условия использования</a>
							<a href="#" class="burger-block__burger__contact-us__politics__link">Политика конфиденциальности</a>
						</div>
						<div class="burger-block__burger__contact-us__descriptions">
							<span>Разработано <a href="https://studio-websites.ru/">Студией Сайтов</a></span>
							<span>©️ Мегахенд 2024. Все права защищены.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>